

.hero-container {
    background-color: #f3f4f6; /* Light gray background */
    /* padding: 80px 20px; */
    /* width: 100%; */
    text-align: center;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgb(34, 255, 0); */
    height: 90vh;
  }
  
  .hero-content {
    /* margin-bottom: 40px; */
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  .hero-title {
    font-size: 3rem; /* 32px */
    font-weight: bold;
    color: #2563eb; /* Blue color */
  }
  
  .hero-description {
    margin-top: 16px;
    font-size: 1.3rem; /* 16px */
    color: #4b5563; /* Gray color */
  }
  
  .hero-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* border: 1px solid red; */
  }
  
  .hero-main-image {
    width: 240px; /* 48rem */
    height: 240px;
    background-color: #e5e7eb; /* Light gray for placeholder */
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }
  .hero-main-image img {
    height: 100%;
    width: 100%;
  }
  
  .hero-small-images {
    display: flex;
    gap: 20px;
  }
  
  .hero-small-image {
    width: 140px; /* 20rem */
    height: 140px;
    background-color: #e5e7eb; /* Light gray for placeholder */
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-small-image img {
    height: 100%;
    width: 100%;
  }
  
  .image-placeholder {
    font-size: 0.875rem; /* 14px */
    color: #9ca3af; /* Light gray text for placeholder */
  }
  